<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
</head>
<body>
<h1 id="header">Travel Planner</h1>
<main id="main">
    <div id="dest">My trip to:</div>
    <div id="date">Departing:</div>
    <div id="days-away">Distance in future:</div>
    <div id="weather">Weather:</div>
</main>
<form onsubmit="return Client.handleFormSubmit(event)">
    <label for="dest-input">Your destination:</label>
    <input type="text" alt="destination" id="dest-input">
    <label for="departure-date">When are you leaving?</label>
    <input type="date" alt="date of your departure" id="departure-date">
    <button type="submit" id="submit-travel-details" onclick="return Client.handleFormSubmit(event)" onsubmit="return Client.handleFormSubmit(event)">Submit</button>
</form>
</body>
</html>
