#header {
  grid-area: header;
}

#picture {
  grid-area: picture;
  padding-left: 20px;
}

#dest {
  grid-area: dest;
}

#date {
  grid-area: date;
}

#days-away {
  grid-area: days-away;
}

#weather {
  grid-area: weather;
}

form {
  grid-area: form;
}